@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Tangerine:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --fonte-titulo: "Playwrite GB S", cursive;
    --fonte-texto: "Tangerine", cursive;
    --roxo-espaco: #22223bff;
    --ultra-violeta: #4a4e69ff;
    --rose-quartzo: #9a8c98ff;
    --rosinha: #c9ada7ff;
    --clarinho: #f2e9e4ff;
}
body{
    font-family: var(--fonte-texto);
    background-color: var(--roxo-espaco);
    color: var(--ultra-violeta);
    height: 100vh;
}
header{
    background-color: var(--ultra-violeta);
    text-align: center;
}
h1{
    font-family: var(--fonte-titulo);
    font-size: 2rem;
    padding: 1.2rem 0;
    color: var(--rosinha);
}
nav{
    display: flex;
    justify-content: center;
    font-weight: 400;
}
nav a{
    text-decoration: none;
    color: var(--rosinha);
    margin: 0 2rem 1rem 0;
    font-size: rem;
}
nav a:hover{
    text-decoration: underline;
    font-size: 1.7rem;
    color: var(--roxo-espaco);
    transition: 0.5s;
}

.caixa-grafico{
    margin: 3rem;
    border: 3px double var(--ultra-violeta);
    background-color: var(--rose-quartzo);
}

.caixa-grafico__texto{
    padding: 2em;
    font-size: 2.5em;
    text-align: center;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--ultra-violeta);
    color: var(--rose-quartzo);
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 1rem;
}